.CardGroup{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 300px;
    min-height: 300px;
    margin-bottom: 50px;
    
    background-color: #fff;
    color: #222;

    transition: .5s;
    
}

.CardGroup:hover{
    transform: translateY(-15px);
    transition: .5s;
    cursor: pointer;
}

.cardGroup-img{
    width: 100%;
    height: 70%;
}

.cardGroup-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0 ;
}

.cardGroup-desc{
    background-color: #f0f0f0;
    width: 100%;
    height: 30%;
    border-radius: 0 0 15px 15px;
    padding: 20px;
}