.GeneralEdit{
    width: 100vw;
    height: auto;
}

.GeneralEdit-header{
    background-color: var(--color-secundary);
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    
}
.GeneralEdit-header-icon{
    margin: 0 15px;
}

.GeneralEdit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GeneralEdit-btn-logout{
    margin-top: 30px; /* break */
    border: none;
    background-color: var(--color-secundary);
    color: #eee;
    padding: 6px 11px; /* break */
    border-radius: 30px;
}

@media only screen and (min-width: 414px){
    .GeneralEdit-header{
        font-size: 18px;
        height: 60px;
        
    }
    .GeneralEdit-btn-logout{
        margin-top: 40px; /* break */
        padding: 10px 20px; /* break */
        
    }
}

@media only screen and (min-width: 480px){
    .GeneralEdit-header{
        font-size: 20px;
        height: 70px;
        
    }

    .GeneralEdit-header-icon{
        margin: 0 30px;
    }

    .GeneralEdit-btn-logout{
        margin-top: 50px; /* break */
        font-size: 14px;
    }
}

@media only screen and (min-width: 480px){

    .GeneralEdit-btn-logout{
        margin-top: 60px; /* break */
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px){

    .GeneralEdit-btn-logout{
        margin-top: 70px; /* break */
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px){

    .GeneralEdit-btn-logout{
        margin-top: 80px; /* break */
    }
}