.container-basico{
    width: 30vw;
    height: 30vh;
    background-color: brown;
    color: #eee;

    display: flex;
    flex-direction: column;

    padding: 45px 15px;

    align-items: center;
}

.imgCachoro{
    width: 60%;
    height: 50%;
}