.EditItem{
    width: 100%;
    height: 60px;
    color: #444;
    display: flex;
    background-color: #fff;
    border: none;

    cursor: pointer;

}

.EditItem:hover{
    background-color: #eee;

}

.item-hover{
    width: 3px;
    height: 100%;
}
.EditItem:hover .item-hover{
    background-color: #A0063C;
}

.EditItem h6{
    margin: auto 20px;
}