/* USER OVERVIEW */
.UserOverview {
    margin-bottom: 1rem;
}


/* [DIV] UserOverview_userBio */
.UserOverview_userBio {
    background-color: #eee;
    color: var(--color-primary-hover);
    border-radius: 12px;
    padding: 36px;
    margin-top: 2em;
}

.UserOverview_userBio h3 {
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.UserOverview_userBio p {
    opacity: .8;
    font-weight: bold;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 1200px) {
    .UserOverview {
        display: flex;
    }

    .UserOverview_overallInfo {
        width: 42.5%;
    }

    .UserOverview_userBio {
        width: 55%;
        margin-left: 2.5%;
        margin-top: 0;
        font-size: .75rem;
        padding: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .UserOverview_userBio {
        font-size: .85rem;
    }
}

@media only screen and (min-width: 2304px) {
    .UserOverview_userBio {
        font-size: .9rem;
    }
}
