/* USER OVERALL INFO */
.UserOverallInfo {
    display: flex;
    justify-content: flex-start;
    padding: 7.25px;
    margin-bottom: .25em;
    background-color: var(--color-primary-hover);
    border-radius: 12px;
}


/* [DIV] img */
.img {
    width: 25%;
}

.imgSpace {
    display: inline-block;
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #d0094f2d;
}

.imgSpace img {
    height: 100%;
    margin-left: -10.5px;
}


/* [DIV] desc */
.desc {
    width: 75%;
}

.desc h6 {
    font-size: .8rem;
    line-height: 1rem;
}


.desc h6 span {
    font-size: 1rem;
    color: var(--color-secundary);
    color: #e80a56;
    text-shadow: 0 0 .1ex rgba(232, 10, 86, 1);
}


/* RESPONSIVENESS */
@media only screen and (min-width: 1200px) {
    .desc {
        margin-left: .35rem;
    }
    
    .desc h6 {
        font-size: .75rem;
    }

    .desc h6 span {
        font-size: .85rem;
    }
}
