.Event{
    background-color: var(--color-primary-hover);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px; /* break */
}

.Event-photo-div{
    width: 100%;
}

/* foto do evento */
.Event-photo-div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Event-ticket{
    background-color: var(--color-primary);
    width: 90%;
    margin-top: -50px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);

}

.Event-ticket-info{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    padding-bottom: 30px;
    border: none;
    border-bottom: solid 2px #2c435c;
    border-bottom-style:dashed;
}
.Event-ticket-info h2{
    line-height: 26px;
}
.Event-ticket-info-p{
    color: #bbb;
}

.event-ticket-info-line{
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.event-ticket-info-line img{
    width: 20px;
}

.event-ticket-info-icon{
    color:#688fb6;
    padding-right: 5px;
}

.event-ticket-info-icon-share{
    font-size: 22px;
    margin-right: 5px;
}

/* bolinha no meio do ticket */
.Event-ticket-info-separator{
    background-color: var(--color-primary-hover);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 15px;
    left: calc(50% - 25px); 
    /*25px pois é metade do tam da div, logo o elemento é centralizado */
    bottom: -25px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #2c435c;
}


/* 2a parte do ticket */
.Event-ticket-code{
    background-color: var(--color-primary-hover);
    border: solid 2px var(--color-primary);
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.Event-ticket-code-calendar{
    padding-bottom: 20px; /* entre calendar e qr */
    padding-top: 10px; /* entre titulo e calendar */
}

.Event-ticket-code-calendar p{
    color: #ccc; 
}

.Event-ticket-code-calendar button{
    margin-top:10px;
    padding: 8px 15px;
}

.div-margin-bottom{
    margin-bottom: 10px;
}

.Event-ticket-code-qr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Event-ticket-code-qr img{
    padding-top: 15px;
    width: 100px;

}

.Event-ticket-code-qr{
    padding-bottom: 15px;
}

.Event-info{
    width: 90%;
}

/* info below ticket */

.Event-info{
    margin-top: 15px;
}

.Event-info-card{
    padding: 15px;
    background-color: var(--color-primary);
    border-radius: 10px;
    width: 100%;
    margin-top: 15px; /* break */
}

.Event-info-organizator-img{
    display: flex;
    align-items: center;
}

.Event-info-card p{
    color: #ccc;
    font-size: 12px; /* break */
}

.Event-info-card h5{
    font-weight: bold;
    margin-top: 5px;
    line-height: 16px; /* break */
}

.Event-info-card h4{
    font-weight: bold;
    margin-bottom: 5px; /* break */
}


.Event-info-organizator{
    display: flex;
}

.Event-info-organizator img{
    width: 50px; /* break */
    height: 50px;
    border-radius: 100%;
    margin-right: 10px; /*break */
}

.Event-sub-counter{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.Event-subscription{
    font-weight: lighter;
}


@media only screen and (min-width: 414px){
    /* foto do evento */
    .Event-photo-div img{
        height: 225px;
    }

    .Event-ticket-info-p{
        font-size: 16px;
    }

    /* icones share */
    .event-ticket-info-icon-share{
        font-size: 26px;
        margin-right: 8px;
    }

    .Event-ticket-code-qr img{
        padding-top: 15px;
        width: 115px;
    
    }

    .Event-info-card p{
        color: #ccc;
        font-size: 14px; /* break */
    }

    .Event-info-card h5{
        font-weight: bold;
        margin-top: 5px;
        font-size: 18px;
        line-height: 16px; /* break */
    }
    
    .Event-info-card h4{
        font-weight: bold;
        margin-bottom: 5px; /* break */
    }

    
    
}

@media only screen and (min-width: 480px){
    .Event{
        padding-bottom: 50px;
    }
    /* foto do evento */
    .Event-photo-div img{
        height: 250px;
    }
    .Event-ticket-info-p{
        font-size: 16px;
    }

    .Event-ticket-info h6{
        font-size: 1.18em;
    }

    /* icones share */
    .event-ticket-info-icon-share{
        font-size: 28px;
        margin-right: 10px;
    }

    /* parte do qr */
    .Event-ticket-code p{
        font-size: 16px;
    }
    
    .Event-ticket-code-calendar button{
        font-size: 16px;
        margin-top:10px;
        padding: 8px 15px;
    }
    
    .Event-ticket-code-qr img{
        padding-top: 20px;
        width: 125px;
    
    }

    .Event-info-card p{
        color: #ccc;
        font-size: 16px; /* break */
    }

    .Event-info-card h5{
        font-weight: bold;
        margin-top: 5px;
        font-size: 18px;
        line-height: 16px; /* break */
    }
    
    .Event-info-card h4{
        font-weight: bold;
        margin-bottom: 5px; /* break */
        font-size: 20px;
    }

    .Event-info-organizator img{
        width: 55px; /* break */
        height: 55px;
        border-radius: 100%;
        margin-right: 10px; /*break */
    }

    
}

@media only screen and (min-width: 576px){
    /* foto do evento */
    .Event-photo-div img{
        height: 300px;
    }
    .Event-ticket-info-p{
        font-size: 18px;
    }

    .Event-ticket-info h6{
        font-size: 1.2em;
    }

    /* icones share */
    .event-ticket-info-icon-share{
        font-size: 30px;
    }

    /* parte do qr */
    .Event-ticket-code p{
        font-size: 17px;
    }
    
    .Event-ticket-code-calendar button{
        font-size: 18px;
    }
    
    .Event-ticket-code-qr img{
        width: 150px;
    
    }

    
}

@media only screen and (min-width: 768px){
    /* foto do evento */
    .Event-photo-div img{
        height: 350px;
    }
    .Event-ticket-info-p{
        font-size: 18px;
    }

    .Event-ticket-info h6{
        font-size: 1.2em;
    }

    /* icones share */
    .event-ticket-info-icon-share{
        font-size: 30px;
    }

    /* parte do qr */
    .Event-ticket-code p{
        font-size: 17px;
    }
    
    .Event-ticket-code-calendar button{
        font-size: 18px;
    }
    
    .Event-ticket-code-qr img{
        width: 150px;
    
    }   
}

/* desktop */
@media only screen and (min-width: 1024px){
    .Event-photo-div{
        width: 1024px;
        border-radius: 0 0 10px 10px;
    }
    
    /* foto do evento */
    .Event-photo-div img{
        height: 400px;
        border-radius: 0 0 10px 10px;
        border: 3px solid var(--color-primary);
        border-top: none;
    }
    
    .Event-ticket{
        width: 900px;
        display: flex;
        margin-top: -100px;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.15);
    
    }
    
    .Event-ticket-info{
        padding: 40px ;
        border: none;
        border-right: solid 3px #2c435c;
        border-right-style:dashed;
    }
    .Event-ticket-info h2{
        line-height: 26px;
        font-size: 22px;
        font-weight: bold;
    }
    .Event-ticket-info-p{
        font-size: 16px;
    }

    .Event-ticket-info h6{
        font-size: 1.2em;
    }
    
    .event-ticket-info-line{
        display: flex;
        align-items: center;
        padding-top: 4px;
    }
    
    .event-ticket-info-line img{
        width: 20px;
    }
    
    .event-ticket-info-icon{
        color: #688fb6;
        padding-right: 5px;
        font-size: 18px;
    }
    
    .event-ticket-info-icon-share{
        font-size: 28px;
        margin-right: 5px;
    }

    .event-ticket-info-icon-share:hover{
        color: var(--color-primary-text);
        cursor: pointer;
    }
    
    /* bolinha no meio do ticket */
    .Event-ticket-info-separator{
        background-color: var(--color-primary-hover);
        padding: 15px;
        left: 540px;
        top: calc(50% - 30px); 
        /*30px pois é metade do tam da div, logo o elemento é centralizado */
        height: 60px;
        width: 60px;
        box-shadow: -6px 0px rgba(0, 0, 0, 0.15);
        transform: rotate(-90deg);
    }
    
    
    /* 2a parte do ticket */
    .Event-ticket-code{
        border: solid 3px var(--color-primary);
        border-left: none;
        border-radius: 0 10px 10px 0;
        padding: 40px;
    }

    /* titulo direita */
    .Event-ticket-code h2{ 
        font-size: 24px;
        line-height: 26px;
    }
    .Event-ticket-code p{
        font-size: 14px;
    }
    
    .Event-ticket-code-calendar{
        padding-bottom: 20px; /* entre calendar e qr */
        padding-top: 20px; /* entre titulo e calendar */
    }

    .Event-ticket-code-calendar p{
        color: #ccc; 
    }
    
    .Event-ticket-code-calendar button{
        font-size: 14px;
        width: 120px;
        margin-top:10px;
        padding: 8px 15px;
    }
    
    .div-margin-bottom{
        margin-bottom: 10px;
    }
    
    .Event-ticket-code-qr{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Event-ticket-code-qr img{
        padding-top: 15px;
        width: 100px;
    
    }
    
    .Event-ticket-code-qr{
        padding-bottom: 20px;
    }



    /* info below ticket */
    .Event-info{
        width: 900px;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .Event-info-card{
        height: fit-content;
        padding: 15px;
        background-color: var(--color-primary);
        border-radius: 10px;
        width: 100%;
        margin-top: 15px; /* break */
    }

    .Event-info-left{
        width: 120%;
        margin-right: 20px;
    }
    
    .Event-info-organizator-img{
        display: flex;
        align-items: center;
    }
    
    .Event-info-card p{
        color: #ccc;
        font-size: 15px; /* break */
    }
    
    .Event-info-card h5{
        font-weight: bold;
        margin-top: 5px;
        font-size: 18px;
        line-height: 16px; /* break */
    }
    
    .Event-info-card h4{
        font-weight: bold;
        margin-bottom: 5px; /* break */
        font-size: 20px;
    }
    
    
    .Event-info-organizator{
        display: flex;
    }
    
    .Event-info-organizator img{
        width: 50px; /* break */
        height: 50px;
        border-radius: 100%;
        margin-right: 10px; /*break */
    }
    
    .Event-sub-counter{
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
    }
    .Event-subscription{
        font-weight: lighter;
    }
}