/* USER PROFILE */


/* [DIV] UserProfile_graphical */
.UserProfile_graphical {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* UserProfile_background Image */
.UserProfile_background {
    height: 150px;
}

.UserProfile_backgroundImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--color-secundary);
}

/* Middle Section */
.UserProfile_middleSection {
    display: flex;
    justify-content: flex-end;
}

/* Friend Counter */
.UserProfile_friendCount {
    display: none;
    font-size: 1.25rem;
    text-shadow: 0 0 .1ex rgba(232, 10, 86, 1);
}

.UserProfile_friendCount::after {
    content: "amigos";
    text-transform: lowercase;
    font-size: .75rem;
}

/* Friend Buttons */
.UserProfile_defaultFriend {
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-color: var(--color-secundary);
    border: 0 transparent;
    color: #eee;
    border-radius: 8.75px;
    margin-top: .25em;
}

.UserProfile_defaultFriend:hover {
    background-color: var(--color-secundary-hover);
}

.UserProfile_defaultFriend:active {
    background-color: var(--color-secundary-hover);
    transform: translateY(4px);
}

.UserProfile_defaultFriend img {
    max-width: 42.5%;
}

.UserProfile_defaultFriend span {
    display: none;
}

.UserProfile_sendingFriend {
    background-color: #424242;
}

.UserProfile_sendingFriend:hover {
    background-color: #212121;
}

.UserProfile_isFriend {
    background-color: blue;
}

.UserProfile_isFriend:hover {
    background-color: darkblue;
}

/* Profile Photo */
.UserProfile_profileImg {
    display: flex;
    justify-content: center;
    height: 86.75px;
    margin-top: -17.5%;
}

.UserProfile_userImg {
    border: 8.75px solid var(--color-primary);
    max-width: 30%;
    height: auto;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}


/* [DIV] UserProfile_profileId */
.UserProfile_profileId {
    width: 90%;
    max-width: 90%;
    overflow-wrap: break-word;
    margin-top: -1.5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: #ffff;
}

.UserProfile_profileId h2 {
    font-size: 1.331rem;
    line-height: 1.15rem;
}

.UserProfile_profileId h3 {
    font-size: .9em;
    opacity: .85;
    font-weight: lighter;
    margin-top: 6px;
}


/* [DIV] UserProfile_userInfoNav */
.UserProfile_userInfoNav {
    width: 90%;
    margin-top: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.UserProfile_listNav {
    display: flex;
    justify-content: space-between;
}

.UserProfile_content {
    margin-top: 1em;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 480px) {
    .UserProfile_background {
        height: 200px;
    }

    .UserProfile_defaultFriend {
        width: 55px;
    }
    
    .UserProfile_defaultFriend img {
        max-width: 37.5%;
    }

    .UserProfile_profileImg {
        height: 108.4375px;
        margin-top: -12.5%;
    }

    .UserProfile_profileId {
        margin-top: -1%;
    }
}

@media only screen and (min-width: 576px) {
    .UserProfile_background {
        height: 240px;
    }

    .UserProfile_defaultFriend {
        width: 64px;

    }
    
    .UserProfile_defaultFriend img {
        max-width: 35%;

    }

    .UserProfile_profileImg {
        height: 122.75px;
        margin-top: -12.5%;
    }

    .UserProfile_content {
        margin-top: 1.5em;
    }
}

@media only screen and (min-width: 768px) {
    .UserProfile_graphical {
        max-width: 70%;
        margin-top: 3.5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .UserProfile_profileId {
        width: 70%;
        max-width: 70%;
        margin-top: -.5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .UserProfile_userInfoNav {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .UserProfile_content {
        margin-top: 2em;
    }
}

@media only screen and (min-width: 992px) {
    .UserProfile_background {
        height: 315px;
    }

    .UserProfile_defaultFriend {
        width: 72px;
    }
    
    .UserProfile_defaultFriend img {
        max-width: 32.5%;
    }

    .UserProfile_profileImg {
        height: 148.75px;
        margin-top: -12.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .UserProfile_graphical {
        max-width: 50%;
        margin-top: 1%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .UserProfile_background {
        height: 240px;
    }

    .UserProfile_middleSection {
        justify-content: space-between;
    }

    .UserProfile_friendCount {
        display: inline-block;
        color: #fff;
    }

    .UserProfile_defaultFriend {
        width: 120px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        line-height: .75rem;
    }
    
    .UserProfile_defaultFriend img {
        max-width: 20%;
        padding: 1.75px;
        margin-right: .25rem;
    }
    
    .UserProfile_defaultFriend span {
        display: inline-block;
    }

    .UserProfile_sendingFriend img {
        margin-left: .5rem;
        margin-right: 0;
    }

    .UserProfile_isFriend img {
        margin-left: .5rem;
        margin-right: 0;
    }

    .UserProfile_profileImg {
        height: 122.75px;
        margin-top: -11.75%;
    }

    .UserProfile_profileId {
        width: 50%;
        max-width: 50%;
        margin-top: 0;
        margin-left: 25%;
        margin-right: 25%;
    }

    .UserProfile_userInfoNav {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
    }

    .UserProfile_listNav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
    }

    .UserProfile_content {
        margin-top: 0;
        width: 70%;
    }
}

@media only screen and (min-width: 1440px) {
    .UserProfile_background {
        height: 265px;
    }

    .UserProfile_friendCount {
        font-size: 1.5rem;
    }

    .UserProfile_profileImg {
        height: 136.75px;
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1600px) {
    .UserProfile_background {
        height: 315px;
    }

    .UserProfile_profileImg {
        height: 148.75px;
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1920px) {
    .UserProfile_background {
        height: 345px;
    }
    
    .UserProfile_defaultFriend {
        width: 137.5px;
        height: 50px;
        line-height: .875rem;
    }
    
    .UserProfile_defaultFriend img {
        padding: 1px;
    }

    .UserProfile_sendingFriend img {
        margin-left: .75rem;
        margin-right: -.5rem;
    }

    .UserProfile_isFriend img {
        margin-left: .75rem;
        margin-right: -.5rem;
    }

    .UserProfile_profileImg {
        margin-top: -8.75%;
    }
}

@media only screen and (min-width: 2304px) {
    .UserProfile_graphical {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .UserProfile_profileImg {
        margin-top: -9%;
    }

    .UserProfile_profileId {
        width: 40%;
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .UserProfile_userInfoNav {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media only screen and (min-width: 2560px) {
    .UserProfile_graphical {
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }

    .UserProfile_profileId {
        width: 35%;
        max-width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }

    .UserProfile_userInfoNav {
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }
}
