/* GROUP MEMBER TAB */
.GroupMembersTab {
    background-color: var(--color-primary-hover);
    border-radius: 12px;
    padding: 12px;
}


/* [DIV] GroupMembersTab-heading */
.GroupMembersTab-heading {
    display: flex;
    justify-content: space-between;
    padding: 1.75px;
    color: #fff;
    margin-bottom: 10px;
}

.GroupMembersTab-memberList{
    display: flex;
    flex-direction: column;
}

