/* GROUP MEMBER TAB */
.GroupMembersTab {
    background-color: var(--color-primary-hover);
    border-radius: 12px;
    padding: 12px;
}


/* [DIV] GroupMembersTab-heading */
.GroupMembersTab-heading {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 1.75px;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 1200px) {
    .GroupMembersTab-memberList {
        display: flex;
        justify-content: space-between;
    }

    .GroupMembersTab-first {
        min-width: 49.5%;
        max-width: 49.5%;
    }

    .GroupMembersTab-second {
        min-width: 49.5%;
        max-width: 49.5%;
    }
}
