.modalContainer-container {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    z-index: 21;
    width: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
}

/* Top bar  */

.modalContainer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    color: #7c7c7c;
    border-bottom: 1px solid #c0c0c0;
}

.modalContainer-top h2{
    font-size: 25px;
}

/* Overlay  */

.modalContainer-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: #1e2e3e88;
}