.Navbar {
    position: fixed;
    background-color: #d0094d;
    color: white;
    border-radius: 0px 0px 0px 25px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-caixa {
    padding: 0 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header-logo{
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-righticons{
    display: flex;
}

.Navbar img{
    width: 24px;
}

#logo{
    width: 80px;
}

.Navbar input{
    border: 5px solid #fff;
    border-radius: 20px;
    width: 25vw;
    padding-left: 20px;

    
    /* background-image:url({search});
    background-size: 25px;
    background-color: white;
    background-position: 97%;
    background-repeat: no-repeat; */
}