.GroupSearch{
    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}

.groupSearch-header{
    min-width: 1350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.groupSearch-header button{
    background-color: var(--color-secundary);
    color: #ddd;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 125px;
    height: 50px;
    transition: .3s;
    border-radius: 30px;

}

.groupSearch-header button:hover{
    background-color: var(--color-secundary-hover);
    transition: .3s;
    cursor: pointer;
}

.groupSearch-colection{
    max-width: 1325px;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.btn-loadMore{
    border-radius: 30px;
    background-color: var(--color-primary);
    opacity: .7;
    border: var(--color-secundary-hover) 2px solid;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 60px;
    transition: .3s;
}

.btn-loadMore:hover{
    opacity: 1;
    background-color: var(--color-secundary-hover);
    transition: .3s;
    cursor: pointer;
}