/* MEMBER ROW */
.MemberRow {
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 1em;
    background-color: var(--color-primary);
    color: #fff;
    padding: 8px;
}

.MemberRow-member p{
    font-size: 15px;
    color: #bbbbbb;
    margin-top: 5px;
}

/* [DIV] MemberRow-member */
.MemberRow-member {
    margin-left: .75rem;
}

.MemberRow-member h5 {
    font-weight: bold;
}

.MemberRow-member span {
    opacity: .7;
}
