/* USER GROUP TAB */
.UserGroupTab {
    background-color: var(--color-primary-hover);
    border-radius: 12px;
    padding: 12px;
}


/* [DIV] UserGroupTab_heading */
.UserGroupTab_heading {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 1.75px;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 1200px) {
    .UserGroupTab_groupList {
        display: flex;
        justify-content: space-between;
    }

    .UserGroupTab_groupListFirst {
        min-width: 49.5%;
        max-width: 49.5%;
    }

    .UserGroupTab_groupListSecond {
        min-width: 49.5%;
        max-width: 49.5%;
    }
}
