/* UPDATE IMAGE MODAL */

/* Ant Design */
.ant-modal-header {
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary-hover);
}

.ant-modal-title {
    color: #eee;
    font-size: 1.25em;
}

.ant-modal-close {
    color: #eee;
}

.ant-modal-close:hover,
.ant-modal-close:focus {
    color: #eee;
    opacity: .5;
}

.ant-modal-content {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-hover);
    color: #eee;
}

.ant-modal-footer {
    border-top: 1px solid var(--color-primary-hover);
}


/* Camera Icon */
.imgBtn {
    border: hidden;
    background-color: transparent;
    font-size: 1.15rem;
    color: #eee;
}

.imgBtn:hover {
    cursor: pointer;
    opacity: .5;
    color: #eee;
}

.imgBtn:focus,
.imgBtn:active {
    color: #eee;
}


/* Modal Customization */
.backModalBtn {
    color: var(--color-primary);
}

.submitModalBtn:hover {
    color: #eee !important;
}

.iconInbox {
    font-size: 5rem;
    color: var(--color-primary);
}

.draggerText {
    font-size: 1rem;
    color: var(--color-primary);
}
