/* GROUP NAV ITEM LIST */
/*.Group-navBtn {*/
/*    margin-left: .5rem;*/
/*    margin-right: .5rem;*/
/*}*/

/* GroupNavItemList button */
.Group-navBtn button {
    cursor: pointer;
    padding-top: .75em;
    padding-bottom: .5em;
    background-color: #eee;
    border: transparent;
    min-width: 150px;
    min-height: 50px;
}

.Group-navBtn button img {
    max-width: 30%;
}

.Group-navBtn button span {
    display: none;
    font-family: var(--font-body);
    font-size: .8rem;
}

/* Group-navBtn-isSelected */
.Group-navBtn-isSelected {
    background-color: var(--color-secundary);
    border-radius: 1000vh;
    box-shadow:
        0 14px 26px -12px rgb(208 9 77 / 21%),
        0 4px 23px 0px rgb(0 0 0 / 6%),
        0 8px 10px -5px rgb(208 9 77 / 10%) !important;
}

.Group-navBtn-isSelected button {
    background-color: var(--color-secundary);
}


/* RESPONSIVENESS */
@media only screen and (min-width: 480px) {
    .Group-navBtn {
        /*margin-left: 1rem;*/
        /*margin-right: 1rem;*/
    }
}

@media only screen and (min-width: 576px) {
    .Group-navBtn {
        /*margin-left: 1.25rem;*/
        /*margin-right: 1.25rem;*/
    }
}

@media only screen and (min-width: 768px) {
    .Group-navBtn {
        /*margin-left: 1.75rem;*/
        /*margin-right: 1.75rem;*/
    }
}

@media only screen and (min-width: 992px) {
    .Group-navBtn {
        /*margin-left: 2.25rem;*/
        /*margin-right: 2.25rem;*/
    }
}

@media only screen and (min-width: 1200px) {
    .Group-navBtn-isSelected {
        margin-top: .25em;
        margin-bottom: .25em;
        margin-left: 0;
        margin-right: 0;
        width: 75%;
    }

    .Group-navBtn button {
        display: flex;
        padding-left: 2em;
        padding-right: 2em;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    .Group-navBtn-isSelected button {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition: -1s;
    }
    
    .Group-navBtn button img {
        max-width: 15%;
        margin-left: .5rem;
        margin-right: .5rem;
        display: none;
    }

    .Group-navBtn button span {
        display: inline-block;
        color: var(--color-primary);
        font-weight: bold;
        align-self: center;
    }  
    
    .Group-navBtn-isSelected button img {
        display: inline-block;
    }

    .Group-navBtn-isSelected button span {
        color: #eee;
    }
}

@media only screen and (min-width: 1920px) {
    .Group-navBtn button img {
        padding: 4px;
    }
}
