/* Scalable and Modular Architecture for CSS */
/* Base CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


/* Layout CSS */
html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}


/* Fluid Typography CSS */
body {
  background-color: var(--color-primary);
  font-family: var(--font-body);
  color: #eee;
}

/* Btn config padrão*/
button{
  background-color: var(--color-secundary);
  padding: 5px 0;
  border: none;
  border-radius: 30px;
  color: #eee;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background-color: var(--color-secundary-hover);
  transition: .3s;
}

/* Textarea config padrão */
textarea {
  width: 100%;
  padding: 10px;
  min-height: 100px;
  resize: none;
  color: #000;
}

button, input, textarea {
  font-family: var(--font-body);
}

h1 {
  font-size: 1.772em;
}

h2 {
  font-size: 1.611em;
}

h3 {
  font-size: 1.464em;
}

h4 {
  font-size: 1.331em; 
}

h5 {
  font-size: 1.21em;
}

h6 {
  font-size: 1.1em;
}

code {
  font-family: var(--font-code);
}




:root {
  /* Fontes */
  --font-body: 'PT Sans', sans-serif;
  --font-code: 'Fira Code', monospace;

  /* Tamanho da Fonte */
  --min-width: 320px;
  --max-width: 800px;
  --min-fontSize: 16px;
  --max-fontSize: 20px;
  font-size: var(--min-fontSize);

  /* Cores */
  --color-primary: #1e2e3e;
  --color-secundary: #d0094d;
  --color-terciary: #04d361;
    
  --color-primary-hover: #253a4f;
  --color-secundary-hover: #a0063c;
  --color-secundary-text: #f97da7;
  --color-terciary-hover: #00af4f;
}


/* Cálculo do tamanho da fonte */
@media only screen and (min-width: 320px) and (max-width: 800px) {
  :root {
    --calc-a: calc(20 - 16);
    --calc-b: calc(var(--calc-b1) / var(--calc-b2));
    --calc-b1: calc(100vw - var(--min-width));
    --calc-b2: calc(800 - 320);
    --calc-c: calc(var(--calc-a) * var(--calc-b));
    font-size: calc(var(--min-fontSize) + var(--calc-c));
  }
}

@media only screen and (min-width: 800px) {
  :root {
    font-size: var(--max-fontSize);
  }
}


/* Scrollbar */
::-webkit-scrollbar{
  display: none;
}


/* Estilos personalizados */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-flex-column{
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

/* btn styling outlined */
.btn-outlined{
  background-color: var(--color-primary-hover);
  border: 2px solid var(--color-secundary-hover);
}

/* btn styling success */
.btn-success{
  background-color: #18a860;
}

/* top-container - serve para mobile onde a navbar ficará fixa,
dando um margin-top para o conteudo ficar visivel */
.top-container{ 
  margin-top: 50px;
}

/* responsividade dos estilos personalizados */
@media only screen and (min-width: 414px){
  .top-container{
      margin-top: 60px;
  }
}

@media only screen and (min-width: 480px){

  .top-container{
      margin-top: 70px;
  }
}

@media only screen and (min-width: 768px){
  .top-container{
      margin-top: 80px;
  }
}


/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');


/*
  RESPONSIVIDADE

  Pontos de Quebra na Largura:
  - xxs/ppp: '320px';
  - xs/pp: '480px';
  - sm/p: '576px';
  - md/m: '768px';
  - lg/g: '992px';
  - xl/gg: '1200px';
  - xxl/ggg: '1600px';
*/

