/* USER PROFILE */


/* antd counter */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-body);
    color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    color: #eee;
    font-weight: 400;
    margin-bottom: 0;
}

a {
    color: var(--color-secundary-hover);
}

a:hover {
    color: var(--color-secundary-hover);
}

a:active {
    color: var(--color-secundary-hover);
}
p{
    margin: 0;
}

/* Ant Design */
.ant-btn:hover,
.ant-btn:focus {
  color: var(--color-primary-hover);
  background: transparent;
  border-color: transparent;
}



.ProfileEdit{
    width: auto;
    height: auto;
    margin-top: 65px; /* break */
}


/* [DIV] graphical */
.ProfileEdit-graphical {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Background Image */
.ProfileEdit-background {
    height: 150px;
}

.ProfileEdit-backgroundImg {
    position: relative;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--color-secundary);
}

.ProfileEdit-bg-update{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    opacity: .5;
}

/* Profile Photo */
.ProfileEdit-profileImg {
    display: flex;
    justify-content: center;
    height: 86.75px;
    margin-top: -17.5%;
}

/* Camera foto de perfil */
.ProfileEdit-profile-update{
    position: absolute;
    margin-top: 30px;
    opacity: .4;
}

.ProfileEdit-userImg {
    border: 8.75px solid var(--color-primary);
    max-width: 30%;
    height: auto;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

/* Username && name */
.ProfileEdit-profileId {
    width: 90%;
    max-width: 90%;
    overflow-wrap: break-word;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.ProfileEdit-profileId h2 {
    font-size: 1.3rem;
    line-height: 1.15rem;
    margin-bottom: 0;
}

.ProfileEdit-profileId h3 {
    font-size: 1.1rem;
    opacity: .85;
}



/* Formulario */
.ProfileEdit-edit{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 30px;
}

.ProfileEdit-form{
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ProfileEdit-form label{
    padding-left: 2px;
    font-size: 16px; /* break */
}

/* forms input */
.ProfileEdit-input{
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* break */
    background-color: var(--color-primary-hover);
    margin-bottom: 5%;

}


.ProfileEdit-bio{
    resize: none;
    height: 100px; /* break */
}

.ProfileEdit-submit{
    margin-top: 4%;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 414px) {
    .ProfileEdit{
        margin-top: 80px;
    }

    .ProfileEdit-form label{
        font-size: 18px; /* break */
    }

    .ProfileEdit-input{
        padding: 10px 10px;
        font-size: 16px;
    }

    .ProfileEdit-bio{
        height: 120px; /* break */
    }

    /* submit btn */
    .ProfileEdit-submit{
        font-size: 16px;
        padding: 8px 0;
    }
}
@media only screen and (min-width: 480px) {

    .ProfileEdit{
        margin-top: 95px;
    }

    .ProfileEdit-background {
        height: 200px;
    }

    .ProfileEdit-profileImg {
        height: 108.4375px;
        margin-top: -12.5%;
    }

    .ProfileEdit-profile-update{
        margin-top: 40px;
    }

    .ProfileEdit-profileId {
        margin-top: -1%;
    }

    /* forms */
    .ProfileEdit-form{
        padding: 0 50px;
    }

    .ProfileEdit-form label{
        font-size: 20px; 
    }

    /* input */
    .ProfileEdit-input{
        padding: 10px 10px;
        font-size: 18px;
    }

    .ProfileEdit-bio{
        height: 140px; /* break */
    }

    /* submit btn */
    .ProfileEdit-submit{
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) {
    .ProfileEdit-background {
        height: 240px;
    }

    .ProfileEdit-profileImg {
        height: 122.75px;
        margin-top: -12.5%;
    }

    .ProfileEdit-profile-update{
        margin-top: 50px;
    }

    /* forms */
    .ProfileEdit-form{
        padding: 0 60px;
    }

    /* forms label */
    .ProfileEdit-form label{
        margin-bottom: 5px;
        font-size: 20px; 
    }

    /* input */
    .ProfileEdit-input{
        padding: 10px 15px;
        font-size: 18px;
    }

    /* submit btn */
    .ProfileEdit-submit{
        margin-top: 3%;
    }
}

@media only screen and (min-width: 768px) {
    .ProfileEdit{
        margin-top: 105px;
    }
    .ProfileEdit-graphical {
        max-width: 70%;
        margin-top: 3.5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .ProfileEdit-profileId {
        width: 70%;
        max-width: 70%;
        margin-top: -.5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    /* forms */
    .ProfileEdit-form{
        padding: 0 140px;
    }

    /* forms label */
    .ProfileEdit-form label{
        margin-bottom: 5px;
        font-size: 22px; 
    }

    /* forms input */
    .ProfileEdit-input{
        padding: 10px 15px;
        font-size: 18px;
    }

    /* submit btn */
    .ProfileEdit-submit{
        padding: 10px 0px;
        margin-top: 3%;
    }
}

@media only screen and (min-width: 992px) {
    .ProfileEdit{
        margin-top: 115px;
    }
    .ProfileEdit-background {
        height: 315px;
    }

    .ProfileEdit-profileImg {
        height: 148.75px;
        margin-top: -12.5%;
    }

    .ProfileEdit-profile-update{
        margin-top: 60px;
    }

    /* forms */
    .ProfileEdit-form{
        padding: 0 190px;
    }
}

@media only screen and (min-width: 1200px) {
    .ProfileEdit-graphical {
        max-width: 50%;
        margin-top: 1%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .ProfileEdit-background {
        height: 240px;
    }

    .ProfileEdit-profileImg {
        height: 122.75px;
        margin-top: -11.75%;
    }
}

@media only screen and (min-width: 1440px) {
    .ProfileEdit-background {
        height: 265px;
    }

    .ProfileEdit-profileImg {
        height: 136.75px;
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1600px) {
    .ProfileEdit-background {
        height: 315px;
    }

    .ProfileEdit-profileImg {
        height: 148.75px;
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1920px) {
    .ProfileEdit-background {
        height: 345px;
    }

    .ProfileEdit-profileImg {
        margin-top: -8.75%;
    }
}

@media only screen and (min-width: 2304px) {
    .ProfileEdit-graphical {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .ProfileEdit-profileImg {
        margin-top: -9%;
    }

}

@media only screen and (min-width: 2560px) {
    .ProfileEdit-graphical {
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }
}










