/* USER INFO NAV ITEM LIST */
.UserInfoNavItemList {
    margin-left: .5rem;
    margin-right: .5rem;
}

.UserInfoNavItemList button {
    cursor: pointer;
    padding-top: .75em;
    padding-bottom: .5em;
    background-color: transparent;
    border: transparent;
    opacity: .65;
}

.UserInfoNavItemList button img {
    max-width: 30%;
}

.UserInfoNavItemList button span {
    display: none;
}

/* isSelected */
.isSelected {
    background-color: #375472;
    border-radius: 6px;
    box-shadow:
        0 14px 26px -12px rgb(208 9 77 / 21%),
        0 4px 23px 0px rgb(0 0 0 / 6%),
        0 8px 10px -5px rgb(208 9 77 / 10%) !important;
}

.isSelected button {
    opacity: 1;
}


/* RESPONSIVENESS */
@media only screen and (min-width: 480px) {
    .UserInfoNavItemList {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 576px) {
    .UserInfoNavItemList {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

@media only screen and (min-width: 768px) {
    .UserInfoNavItemList {
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }
}

@media only screen and (min-width: 992px) {
    .UserInfoNavItemList {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
}

@media only screen and (min-width: 1200px) {
    .UserInfoNavItemList {
        margin-top: .25em;
        margin-bottom: .25em;
        margin-left: 0;
        margin-right: 0;
        width: 75%;
    }

    .UserInfoNavItemList button {
        display: flex;
    }
    
    .UserInfoNavItemList button img {
        max-width: 15%;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .UserInfoNavItemList button span {
        display: inline-block;
        color: #eee;
        font-weight: bold;
        align-self: center;
    }
}
